.login {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
}

.carrinho-tabela {
    height: 700px;
    max-height: 100%;
    overflow-y: auto;
}

.card {
    padding: 5%;
}


/*--------------Tela Cadastro de Produtos---------------*/

.tela-cadastro-produto {
    margin-top: 8%;
}

.tela-cadastro-cliente {
    margin-top: 3%;
    margin-left: 23%;
    margin-bottom: 5%;
}

.card-header {
    background-color: #fff;
}

.conteiner-card {
    height: 530px;
}

.carrinho-tabela::-webkit-scrollbar {
    width: 12px;
}

.carrinho-tabela::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;
}

.carrinho-tabela::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: black;
}

.bg-muted {
    background-color: #f4f4f4
}